<menu class="menu sidebar__menu">
    <ul>
        <li><a {{#equal templateName 'index.html'}}class="is-active" {{/equal}}href="index.html">Home &mdash; What &amp; Why</a></li>
        <li>
            <a href="installation.html">Getting started</a>
            <ul>
                <li><a {{#equal templateName 'installation.html'}}class="is-active" {{/equal}}href="installation.html">Installation</a></li>
                <li><a {{#equal templateName 'new-project.html'}}class="is-active" {{/equal}}href="new-project.html">New Project</a></li>
                <li><a {{#equal templateName 'building.html'}}class="is-active" {{/equal}}href="building.html">Building</a></li>
                <li><a {{#equal templateName 'extra-services.html'}}class="is-active" {{/equal}}href="extra-services.html">Extra Services</a></li>
            </ul>
        </li>
        <li>
            <a href="base-setup.html">Boilerplate</a>
            <ul>
                <li><a {{#equal templateName 'base-setup.html'}}class="is-active" {{/equal}}href="base-setup.html">Base Setup</a></li>
                <li><a {{#equal templateName 'templating.html'}}class="is-active" {{/equal}}href="templating.html">Templating</a></li>
                <li><a {{#equal templateName 'asset-conventions.html'}}class="is-active" {{/equal}}href="asset-conventions.html">Asset Conventions</a></li>
                <li><a {{#equal templateName 'sass-setup.html'}}class="is-active" {{/equal}}href="sass-setup.html">Sass Setup</a></li>
                <li><a {{#equal templateName 'js-setup.html'}}class="is-active" {{/equal}}href="js-setup.html">Javascript Setup</a></li>
                <li><a {{#equal templateName 'back-end-integration.html'}}class="is-active" {{/equal}}href="back-end-integration.html">Back-end Integration</a></li>    
                <li><a {{#equal templateName 'boilerplate-changelog.html'}}class="is-active" {{/equal}}href="boilerplate-changelog.html">Changelog</a></li>
            </ul>
        </li>
        <li><a {{#equal templateName 'upgrading-guide.html'}}class="is-active" {{/equal}}href="upgrading-guide.html">Upgrading Guide</a></li>
        <li><a {{#equal templateName 'changelog.html'}}class="is-active" {{/equal}}href="changelog.html">Changelog</a></li>
        <li><a {{#equal templateName 'roadmap.html'}}class="is-active" {{/equal}}href="roadmap.html">Roadmap</a></li>
        <li><a href="index.html#contrib-support">Contributing &amp; Support</a></li>
        <li><a href="https://github.com/flovan/headstart/issues">Issues</a></li>
    </ul>
</menu>