<div class="open-source">
    <div class="container--open-source">
        <p>Headstart is built with open-source software:</p>
        <p>
            <a class="open-source__sass" href="http://sass-lang.com" title="Visit the Sass homepage"><span class="is-hidden">Sass</span></a>
            <a class="open-source__node" href="http://nodejs.org" title="Visit the NodeJS homepage"><span class="is-hidden">NodeJS</span></a>
            <a class="open-source__gulp" href="http://gulpjs.com" title="Visit the Gulp homepage"><span class="is-hidden">Gulp</span></a>
            <a class="open-source__handlebars" href="http://handlebarsjs.com" title="Visit the HandlebarsJS homepage"><span class="is-hidden">Handlebars</span></a>
        </p>
    </div>
</div>