<h3>Headstart Documentation</h3>
<h4><a href="getting-started.html">Getting Started</a></h4>
<ul>
    <li><a href="getting-started.html#install">Installing</a></li>
    <li><a href="getting-started.html#boilerplate">Base files</a></li>
    <li><a href="getting-started.html#develop">Develop</a></li>
    <li><a href="getting-started.html#structure">Structure</a></li>
    <li><a href="getting-started.html#requirements">Requirements</a></li>
    <li><a href="getting-started.html#contribute">Contribute</a></li>
</ul>
<h4><a href="html-guide.html">HTML</a></h4>
<ul>
    <li><a href="html-guide.html#templating">Templating</a></li>
    <li><a href="html-guide.html#assets">Asset Management</a></li>
</ul>
<h4><a href="css-guide.html">CSS</a></h4>
<ul>
    <li><a href="css-guide.html#structure">Folder structure</a></li>
    <li><a href="css-guide.html#base">Base files</a></li>
    <li><a href="css-guide.html#libs">Library files</a></li>
    <li><a href="css-guide.html#mixin">Mixins</a></li>
    <li><a href="css-guide.html#module">Modules</a></li>
    <li><a href="css-guide.html#vendor">Vendor files</a></li>
    <li><a href="css-guide.html#root">Root files</a></li>
</ul>
<h4><a href="js-guide.html">JS</a></h4>
<ul>
    <li><a href="js-guide.html#structure">Folder structure</a></li>
    <li><a href="js-guide.html#root">Root files</a></li>
    <li><a href="js-guide.html#core">Core files</a></li>
    <li><a href="js-guide.html#libs">Library files</a></li>
</ul>