<nav class="content-menu">
	<button class="menu-toggle"><span class="icon--list"></span> Menu</button>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.headstart.io" data-text="Headstart, the easy-to-use automated front-end workflow." data-via="headstartio">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<div class="fb-share-button" data-href="http://headstart.io" data-type="button_count"></div>
	<iframe class="github-star-button" src="http://ghbtns.com/github-btn.html?user=flovan&repo=headstart&type=watch&count=true"
allowtransparency="true" frameborder="0" scrolling="0" width="89" height="20"></iframe>
</nav>