// Global vars ----------------------------------------------------------------

$base-font-size: 16px;
$base-line-height: 	1.5;
$total-columns: 12;
$default-gutter-width: 5% !default;
$default-column-breakpoint: 650px;
$max-container-width: 1140px; 
$min-page-padding: 4%; 

// Imports --------------------------------------------------------------------

@import '../mixin/all';
@import 'base/functions';
