//  Column mixin --------------------------------------------------------------
//
//  Create a % based column
//
//	@columns:	Number of columns that need to be spanned
//	@end: 		Mark the column as the end of a "row"
//  @break:		Point where a column starts floating and stretching
//	@context:	A context for @columns

$Placeholder-Selectors: ();

@mixin column ($columns, $end: false, $break: $default-column-breakpoint, $context: $total-columns) {
	@include column-static();

	@include media-min ($break) {
		$perc: (100 / $total-columns * $columns) * 1%;

		@if $end == false {
			@include column-left-static();
		} @else {
			@include column-right-static();
		}

		width: $perc - ($default-gutter-width - ($default-gutter-width/($total-columns / $columns)));
	}
}

// Static column mixins -------------------------------------------------------
//
// These will be used to make the column mixin truly DRY.

@mixin column-static ($extend: true) {
	$column-selector: map-get($Placeholder-Selectors, 'column');
	
	@if $extend == true {
		@include dynamic-extend('column') {
			@include column-static(false);
		}
	}
	@else {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
}

@mixin column-left-static ($extend: true) {
	$column-selector: map-get($Placeholder-Selectors, 'column-left');
	
	@if $extend == true {
		@include dynamic-extend('column-left') {
			@include column-left-static(false);
		}
	}
	@else {
		float: left;
		margin-right: $default-gutter-width;
	}
}

@mixin column-right-static ($extend: true) {
	$column-selector: map-get($Placeholder-Selectors, 'column-right');
	
	@if $extend == true {
		@include dynamic-extend('column-right') {
			@include column-right-static(false);
		}
	}
	@else {
		float: right;
		clear: right;
		margin-right: 0;
	}
}


//  Golden Ration Column mixin --------------------------------------------------------------
//
//  Create a golden ratio based column
//
//	@size:		Assign the 'small' or 'large' part
//	@isSub: 	Apply first-level nesting without actually
//				nesting anything DOM-wise
//  @isOffset:	Use value as an offset, rather than a width
//	@prop:		What propery to use if isOffset is true

@mixin goldencol ($size, $isSub: false, $isOffset: false, $prop: left) {

	$gr: 1.61803398874989484820;

	@if $size == 'small' {
		@if $isSub {
			@if $isOffset {
				#{$prop}: (1 - 1/$gr) - (1 - 1/$gr)/$gr * 100 * 1%;
			} @else {
				max-width: (1 - 1/$gr) * (1/$gr) * (1/$gr) * 100 * 1%;
			}
		} @else {
			@if $isOffset {
				#{$prop}: (1 - 1/$gr) * 100 * 1%;
			} @else {
				max-width: (1 - 1/$gr) * 100 * 1%;
			}
		}
	} @elseif $size == 'large' {
		@if $isSub {
			@if $isOffset {
				#{$prop}: (1 - 1/$gr)/$gr * 100 * 1%;
			} @else {
				max-width: (1 - 1/$gr)/$gr * 100 * 1%;
			}
		} @else {
			@if $isOffset {
				#{$prop}: (1/$gr) * 100 * 1%;
			} @else {
				max-width: (1/$gr) * 100 * 1%;
			}
		}
	} @else {
		@warn 'goldencol() attribute `$size` should be either "small" or "large"';
	}
}
