// Selection color ------------------------------------------------------------

::-moz-selection
{
	background: $teal;
	color: white;
	text-shadow: none;
}

::selection
{
	background: $teal;
	color: white;
	text-shadow: none;
}

// Headings -------------------------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6
{
	margin-top: 0;
	color: $dark-teal;

	&:first-child:last-child { margin: 0; }

	// Optional: Push in headings for a better hand-held reading experience
	// @include media-max($default-column-breakpoint) { padding-left: em(10); padding-right: em(10); }
}
h2 { font-size: em(22); }
h3
{
	@include media-max($default-column-breakpoint - 1)
	{
		font-size: em(22);
	}
	@include media-min($default-column-breakpoint)
	{
		font-size: em(20);
	}
}
h5 { @extend %is-uppercase; }

// Lists ----------------------------------------------------------------------

ul
{
	margin: 0 0 em(strip($base-font-size)*1.5);
	padding: 0;
	
	&:first-child:last-child { margin: 0; }
	
	// Optional: Push in headings for a better hand-held reading experience
	// @include media-max($default-column-breakpoint) { padding-left: em(10); padding-right: em(10); }
}
li
{
	list-style-type: none;
	padding-left: em(25);
	position: relative;

	&:before
	{
		content: '';
		display: inline-block;
		width: em(10);
		height: em(5);
		border-radius: em(3);
		margin-right: rem(20);
		margin-left: 0;
		background: $dark-teal;
		position: absolute;
		left: 0;
		top: em(11);
	}
	
	// nested lists
	ul { margin: 0; }
	li:before
	{
		background: none;
		border: 1px solid $dark-teal;
	}
}

// Paragraphs -----------------------------------------------------------------

p
{
	// Push down following content here
	// @include rem(margin, 0, 0, 30);
	
	&:last-of-type:last-child { margin-bottom: 0; }
	
	// Optional: Push in headings for a better hand-held reading experience
	// @include media-max($default-column-breakpoint) { padding-left: em(10); padding-right: em(10); }
}

// Links ----------------------------------------------------------------------

a
{
	color: $teal;
	display: inline-block;

	&:hover { color: tint($teal, 10%); }
	&:active { color: shade($teal, 10%); text-decoration: none; }
}
