// Document -------------------------------------------------------------------

// Border-box rules!
html {
	box-sizing: border-box;
}
*,
*:after,
*:before {
	box-sizing: inherit;
}

// Global styles
html,
body {
    font-family: $font-stack;
    font-size: 100%;
    line-height: $base-line-height;
    background-color: $white;
    color: $darkest-teal;
	height: 100%;
	@extend %is-antialiased;

	@include media-max(879) {
		&.is-covered {
			overflow: hidden;
			.content-overlay {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				background: rgba($darkest-teal, .9);
				transition: left .2s cubic-bezier(0.19, 1, 0.22, 1);
				cursor: pointer;
			}
		}
	}
}

// MS viewport fix
// http://msdn.microsoft.com/en-us/library/ie/hh869615(v=vs.85).aspx
@-ms-viewport { width: device-width; }
@viewport { width: device-width; }

// MS touch-delay fix
// http://msdn.microsoft.com/en-us/library/ie/hh772044(v=vs.85).aspx
a,
input,
button { -ms-touch-action: none !important; }