// Icons ----------------------------------------------------------------------
//

[class*=icon--] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--share:before {
	content: "\e600";
}
.icon--rocket:before {
	content: "\e601";
}
.icon--list:before {
	content: "\e602";
}
.icon--github:before {
	content: "\e603";
}
