{{> layout/header}}
<div class="title-block">
    <div class="container--title-block">
        <h1>Cascading Style Sheets Guide</h1>
    </div>
</div>
<div class="css-guide">
    <div class="container--css-guide">
        <aside class="css-guide__sidebar">
            {{> partials/sidebar_menu}}
        </aside>
        <div class="css-guide__content language-css">
            <p class="content__introduction">Headstart uses <a href="http://sass-lang.com/">Sass</a> to compile stylesheets, and forces next to no default styles into your workflow. With just a few easy to use mixins and functions you can make any kind of layout happen!</p>



            <hr id="structure">
            <h1>Folder structure</h1>
            <p>Great Sass comes with great responsibility. By separating the responsibility of your styles into named chunks, finding out where a certain style might be getting applied becomes a lot easier. This is the default setup that you&#39;ll find inside of the <code class="language-none">assets/sass</code> folder:</p>
            <ul>
                <li><a href="css-guide.html#base">./base</a> &#126; Files that don&#39;t generate CSS on their own.</li>
                <li><a href="css-guide.html#libs">./libs</a> &#126; Libraries.</li>
                <li><a href="css-guide.html#mixin">./mixin</a> &#126; CSS generating modules.</li>
                <li><a href="css-guide.html#module">./module</a> &#126; Chunks of styles that are separated because of their specific purposes.</li>
                <li><a href="css-guide.html#vendor">./vendor</a> &#126; All third-party CSS that comes with eg. plugins.</li>
                <li><a href="css-guide.html#root">./</a> &#126; The root files combine the different chunks and contain other, loose styles.</li>
            </ul>



            <hr id="prefixing">
            <h1>Prefixing</h1>
            <p>With the help of <a href="https://github.com/ai/autoprefixer" title="Visit the Autoprefixer Guthub page">Autoprefixer</a> you will never have to write a single prefix again. Ever! Generator functions are also a thing of the past. Start writing real CSS3.</p>



            <hr id="base">
            <h1>Base files</h1>
            <p>Files that don&#39;t generate CSS on their own.</p>
            <h3>_config_global.scss</h3>
            <p>The global config file imports all mixins and functions to make them available for usage, and contains top-level variables:</p>
            <ul>
                <li><code>$base-font-size</code> &#126; Defaults to <code>16px</code>, the <em>de facto</em> browser font size.</li>
                <li><code>$base-line-height</code> &#126; Defaults to <code class="language-none">1.5</code>, a good starting point for readability.</li>
                <li><code>$total-columns</code> &#126; Defaults to <code class="language-none">12</code>, which devides easily for 2-, 3- and 4-column layouts.</li>
                <li><code>$default-gutter-width</code> &#126; Defaults to <code class="language-none">5%</code> and adds fluid spacing in between columns.</li>
                <li><code>$default-column-breakpoint</code> &#126; Defaults to <code>650px</code> and indicates which space will make columns start floating.</li>
                <li><code>$max-container-width</code> &#126; The maximum width a container can be, defaults to <code class="language-none">1140px</code>.</li>
                <li><code>$min-page-padding</code> &#126; When the available space is less wide than the <code class="language-none">$max-container-width</code>, this is the amount of side-padding that will be added.</li>
            </ul>
            <h3>_config_site.scss</h3>
            <p>This file defines project specific variables, such as colors, and the default font-stack:</p>
            <pre><code>$font-stack: Helvetica Neue, Helvetica, Verdana, Roboto, sans-serif;</code></pre>
            <h3>_functions.scss</h3>
            <p>Some functions that are also used by included mixins:</p>
            <ul>
                <li><code>strip($number)</code> &#126; Will string the unit from a passed value.</li>
                <li><code>em($target, $context: $base-font-size)</code> &#126; Generates <code>em</code> values from a number. Supports negatives as well. The <code>$context</code> variable is used as base value during calculations.</li>
                <li><code>rem($target)</code> &#126; Generates <code>rem</code> values with <code>px</code> fallbacks from a number. Also supports negatives.</li>
                <li><code>tint($color, $percent)</code> &#126; Will lighten a color with a percentage of white.</li>
                <li><code>darken($color, $percent)</code> &#126; Will darken a color with a percentage of black.</li>
            </ul>
            <h3>_state.scss</h3>
            <p>A collection of silent classes that make it easy to keep your stylesheets <a href="http://csswizardry.com/2013/07/writing-dryer-vanilla-css/">DRY</a>:</p>
            <ul>
                <li><code>%is-hidden</code> &#126; Visually hide an element. Handy for image replacements.</li>
                <li><code>%is-bold</code></li>
                <li><code>%is-underlined</code></li>
                <li><code>%is-italic</code></li>
                <li><code>%is-uppercase</code></li>
                <li><code>%is-smallcaps</code></li>
                <li><code>%is-cf</code> &#126; Clears floats.</li>
                <li><code>%is-vertical-aligned</code> &#126; Alignes stuff vertically in its parent.</li>
            </ul>
            <p>To use these in your HTML, you can extend from them, for example:</p>
            <pre><code>.capslock { @extend %is-uppercase; } </code></pre>
            <p>It is still advised to use <code>&lt;strong&gt;&lt;/strong&gt;</code> for <strong>bold</strong> and <code>&lt;em&gt;&lt;/em&gt;</code> for <em>italic</em>.</p>



            <hr id="libs">
            <h1>Library files</h1>
            <p>Libraries go in here, and can be imported in the <code class="language-none">_config_global.scss</code>.</p>
            <p>A few examples:</p>
            <ul>
                <li><a href="http://bourbon.io">Bourbon</a> &#126; Library files over <a href="https://github.com/thoughtbot/bourbon/tree/master/dist">here</a>.</li>
                <li><a href="http://compass-style.org">Compass</a> &#126; Library files over <a href="https://github.com/chriseppstein/compass/tree/stable/frameworks/compass/stylesheets">here</a>.</li>
                <li><a href="http://davidtheclark.github.io/scut/">SCUT</a> &#126; Library files over <a href="https://github.com/davidtheclark/scut/tree/master/dist">here</a>.</li>
                <li><a href="http://susy.oddbird.net">Susy</a> &#126; Library files over <a href="https://github.com/ericam/susy/tree/master/sass">here</a>.</li>
                <li><a href="http://bootflat.github.io">Bootflat</a> &#126; Library files over <a href="https://github.com/bootflat/bootflat.github.io/tree/master/bootflat/scss">here</a>.</li>
            </ul>
            <p class="report--warning">Note: These haven&#39;t been tested yet. Please <a href="https://github.com/flovan/headstart/issues?state=open" title="Visit the issues page">file an issue on Github</a> if things break.</p>
            


            <hr id="mixin">
            <h1>Mixins</h1>
            <p>The default mixins provide core functionalites such as the grid-system, media queries, etc. The Gzipping&mdash;enabled by the <code class="language-none">.htaccess</code> file&mdash;will cache and strip out strings with multiple occurences, so file size is never an issue.</p>
            <h3>_all.scss</h3>
            <p>Simply imports all the other mixins. It is imported itself into <code class="language-none">_config_global.scss</code>.</p>
            <h3>_baseline.scss</h3>
            <p>A mixin to make baseline alignment easier to implement. Works great together with <a href="http://basehold.it">the Basehold.it</a> stylesheet.</p>
            <h3>_grid.scss</h3>
            <p>The grid module allows you to easily make auto-collapsing columns:</p>
            <pre><code>section {
    /* Make the parent clearfix */
    @extend %is-cf;
}
/*
column(
    $columns, // How many columns to span
    $end: false, // Is it the end of a row
    $break: $default-column-breakpoint, // Where it collapses
    $context: $total-columns // The context
)
*/

aside {
    /* Make it float left and take up 4 out of 12 columns */
    @include column(4);
}
article {
    /* Make it close the row by floating right
       and taking in the remaining 8 columns */
    @include column(8, true);
}</code></pre>
            <p>A column starts being a column when the available width is at least the defined <code>$break</code>, which defaults to <code>$default-column-breakpoint</code> or <code>650px</code> (as defined in the <a href="css-guide.html#base">base files)</a>.</p>
            <div class="grid-example">
                <div class="row">
                    <div class="col-12">12 columns</div>
                </div>
                <div class="row">
                    <div class="col-6">6 columns</div>
                    <div class="col-6">6 columns</div>
                </div>
                <div class="row">
                    <div class="col-4">4 columns</div>
                    <div class="col-4">4 columns</div>
                    <div class="col-4">4 columns</div>
                </div>
                <div class="row">
                    <div class="col-3">3 columns</div>
                    <div class="col-3">3 columns</div>
                    <div class="col-3">3 columns</div>
                    <div class="col-3">3 columns</div>
                </div>
                <div class="row">
                    <div class="col-2">2</div>
                    <div class="col-2">2</div>
                    <div class="col-2">2</div>
                    <div class="col-2">2</div>
                    <div class="col-2">2</div>
                    <div class="col-2">2</div>
                </div>
                <div class="row">
                    <div class="col-1">1</div>
                    <div class="col-1">1</div>
                    <div class="col-1">1</div>
                    <div class="col-1">1</div>
                    <div class="col-1">1</div>
                    <div class="col-1">1</div>
                    <div class="col-1">1</div>
                    <div class="col-1">1</div>
                    <div class="col-1">1</div>
                    <div class="col-1">1</div>
                    <div class="col-1">1</div>
                    <div class="col-1">1</div>
                </div>
            </div>
            <p>You can also have multiple column settings by wrapping the column includes in media queries (more on those in the next chapter). As long as the defined breakpoint is larger than the column breakpoint, the media-queries will delay it from floating. This is some example code that is used on the homepage:</p>
            <pre><code>div {
    /* Setup a 2 column layout up to 1049px */
    @include media-max(1049px)
    {
        /* Odd columns (1,3,5,...) will float left */
        &:nth-child(odd) { @include column(6); }
        /* Even columns (2,4,6,...) will float right */
        &:nth-child(even) { @include column(6,true); }
        /* First two blocks push down */
        &:nth-child(-n + 2) { @include rem(margin-bottom, 50); }
    }

    /* Set up a 4 column layout */
    /* Starting at 1050px */
    @include media-min(1050px)
    {
        /* All but the last column float left */
        &:not(:last-child) { @include column(3); }
        /* Last column floats right */
        &:last-child { @include column(3,true); }
    }
}</code></pre>
            <p>If you want to stray from the <code>$default-column-breakpoint</code>, you can use the <code class="language">$break</code> parameter of the mixin to define a custom one:</p>
            <pre><code>/* The default value of 650px will be dropped in favour of 800px */
div { @include column(6, false, 800px); }</code></pre>
            <h3>_media.scss</h3>
            <p>Headstart comes with 4 media query mixins that make it a painless process to tie styles to certain dimensions.</p>
            <pre><code>/* Un until given value */
@include media-max($value) {
    /* ... */
}

/* Starting from given value */
@include media-min($value) {
    /* ... */
}

/* Between given min and max */
@include media-min-max($valueMin, $valueMax) {
    /* ... */
}

/* On retina screens */
@include highres() {
    ...
}</code></pre>
            <ul class="report--info">
                <li>Passed in values will be stripped of their unit and converted to <code>em</code>s.</li>
                <li>All media-* functions have an optional <code class="language-none">$query</code> parameter that defaults to <code class="language-none">'screen'</code>.</li>
            </ul>
            <h3>_rem.scss</h3>
            <p>Not to be confused with the likewise named function, this mixin outputs <code>rem</code> values with pixel fallbacks for a given property. Great for paddings and margins!</p>
            <pre><code>/* For example, using: */

div {
    @include rem(margin-top, 20);
    @include rem(padding, 10, 20, 10, 30);
}

/* Will result in */

div {
    margin-top: 20px;
    margin-top: 1.25rem;
    padding: 10px 20px 10px 30px;
    padding: 0.625rem 1.25rem 0.625rem 1.875rem;
}</code></pre>
            <h3>_triangle.scss</h3>
            <p>CSS triangles, we all love them, but setting them up isn&#39;t really straightforward. This mixin makes it easier.</p>
            <pre><code>/* triangle($width: 10px, $height: 10px, $direction: up, $color: red) */

.tooltip:before {
    content: '';
    display: block;
    @include triangle(15px, 10px, down, #fff);
    /* ... */
}</code></pre>
            


            <hr id="module">
            <h1>Modules</h1>
            <p>Modules are grouped chunks of styles that are separated to lighten your main files.</p>
            <h3>_button.scss</h3>
            <p>Everything button goes in here. The placeholder class <code>%button</code> normalizes some default properties of the most commonly used button-elements, such as <code>&lt;a&gt;&lt/a&gt;</code> or <code>&lt;button&gt;&lt;/button&gt;</code>. This is an example of how a stroked button class <code>%button--stroked</code> could be defined:</p>
            <pre><code>/* For usage in HTML, you can use a regular class,
   or extend a regular class from this placeholder */
%button--stroked {
    @extend %button;
    border: 1px solid #000;
}

/* Somewhere in your main styles */
.contact-submit-button {
    @extend %button--stroked;
}</code></pre>
            <h3>_container.scss</h3>
            <p>Containers are centered blocks with a maximum width. When the available width is less than their defined maximum, they get padded on both sides. Images inside of these type of blocks are made fluid by default so they scale along beautifully. Extend your selectors from the placeholder as following:</p>
            <pre><code>/* This could be any class */
.header__container {
    @extend %container;
}</code></pre>
            <h3>_font.scss</h3>
            <p>A place to put your <code>@font-face</code> configuration.</p>
            <h3>_form.scss</h3>
            <p>All form related styles go in here. Normalizes some default styles for forms elements.</p>
            <h3>_normalize.scss</h3>
            <p>This is simply the <a href="http://necolas.github.io/normalize.css/">Normalize.css</a> library.</p>
            <h3>_print.scss</h3>
            <p>The print module is limited to just a few styles that will improve the printing &quot;experience&quot; of your website, eg. making all the text black, removing background-images and shadows, etc. This file is imported into the main stylesheet to prevent an extra GET request.</p>
            <h3>_reporting.scss</h3>
            <p>This module makes it easy to add reporting paragraphs and lists.</p>
            <p class="report--info">Add a info-block with the class <code>.report--info</code>.</p>
            <p class="report--warning">Add a warning-block with the class <code>.report--warning</code>.</p>
            <p class="report--success">Add a success-block with the class <code>.report--success</code>.</p>
            <ul class="report--error">
                <li>Lists are also supported.</li>
                <li>Display errors with the <code>.report--error</code> class.</li>
            </ul>
            <h3>_text.scss</h3>
            <p>Everything text-related is contained in this module:</p>
            <ul>
                <li>Text-selection color</li>
                <li>Headings</li>
                <li>Lists</li>
                <li>Paragraphs</li>
                <li>Links</li>
            </ul>
            


            <hr id="vendor">
            <h1>Vendor files</h1>
            <p>The <code class="language-none">vendor</code> folder is where you can put the stylesheets that sometimes come with plugins. SCSS stylesheets support regular CSS as well, so just change the <code class="language-none">.css</code> extension to <code class="language-none">.scss</code> and you&#39;re ready to start <code class="language-none">@import</code>ing them.</p>
            


            <hr id="root">
            <h1>Root files</h1>
            <h3>Main styles</h3>
            <p>This stylesheet gets included every page. The styles of, for example, a <code class="language-html">&lt;header&gt;</code>, <code class="language-html">&lt;menu&gt;</code> or <code class="language-html">&lt;footer&gt;</code> are best defined here. If you plan on using modules, this is also the best place to import them.</p>
            <h3>View specific styles</h3>
            <p>When working on a large scale project, somes styles will be limited to individual pages. This is when the view-specific files come in handy, as they will lighten up the main stylesheet and thus speed up the individual pages of your website.</p>
            <p>These files should be prefixed with <code class="language-none">view-</code>, followed by the name of the target HTML file. For example <code class="language-none">view-index.scss</code>, <code class="language-none">view-about.scss</code> or <code class="language-none">view-portfolio.scss</code></p>
        </div>
    </div>
</div>
<hr>
{{> partials/open_source}}
{{> partials/footer_menu}}
{{> layout/footer}}