{{> layout/header}}
<div class="title-block">
    <div class="container--title-block">
        <h1>Getting Started</h1>
    </div>
</div>
<div class="getting-started">
    <div class="container--getting-started">
        <aside class="getting-started__sidebar">
            {{> partials/sidebar_menu}}
        </aside>
        <div class="getting-started__content">


            <h1 id="install">Installing</h1>
            <p class="report--info">Headstart runs on NodeJS and uses Sass for compilation. I you haven&#39;t installed those on your system, skip down to <a href="getting-started.html#requirements">the requirements</a>.</p>
            <p>Open up your Command Line and install Headstart globally. If any errors are displayed, try running the command with <code class="language-none">sudo</code>.</p>
            <pre class="language-none"><code>npm install -g headstart</code></pre>


            <hr id="boilerplate">
            <h1>Base files</h1>
            <p>Make a new directory somewhere and <code class="language-none">cd</code> into it:</p>
            <pre class="language-none"><code>cd some/where
mkdir myproject
cd myproject</code></pre>
            <p>Get the boilerplate files:</p>
            <pre class="language-none"><code>headstart init</code></pre>
            <p>Running <code class="language-none">init</code> will populate <code class="language-none">myproject</code> with the default boilerplate files. <!-- If you want to make changes to this setup, you can <a href="https://github.com/flovan/headstart-boilerplate">fork the boilerplate repo</a> and point to them with with the following flag and argument:</p>
            <pre class="language-none"><code>headstart init --base gituser/repo</code></pre>
            <p>Where <code class="language-none">gituser/repo</code> should be replaced with your username and repo. --></p>


            <hr id="develop">
            <h1>Develop</h1>
            <p>Run the following command to make a build:</p>
            <pre class="language-none"><code>headstart build</code></pre>
            <p>By default, the building system will have made a new folder <code class="language-none">export</code> in your working directory. In here you will find a working set of files. Go ahead, open the <code class="language-none">index.html</code> page.</p>
            <p>The building process can be further configured through the help of some flags. Lines starting with a <code class="language-none">#</code> are just comments.</p>
            <pre class="language-none"><code><strong># Build the files continuously and serve them on a static url</strong><br>
headstart build --serve

<strong># The above, but open up a browser and an editor as well</strong><br>
headstart build --serve --open --edit<br>
<strong># Serve files without livereloading</strong>
<strong># to prevent it from script-blocking</strong>
<strong># the page while testing through your public IP</strong><br>
headstart build --serve --nolr<br>
<strong># Only build the assets, not the templates</strong><br>
headstart build --onlyassets</code></pre>
            <p>To make a production ready build, you can use the following flag:</p>
            <pre class="language-none"><code>headstart build --production</code></pre>
            <p>This will optimize, uglify, concatenate and minify files for you, and add in the <a href="getting-started.html#misc">miscellaneous files</a>, such as a <code class="language-none">.htaccess</code> file and a <code class="language-none">favicon.ico</code>.</p>


            <hr id="structure">
            <h1>Structure</h1>
            <p>Headstart employs a clean folder structure, and manages the included bits and pieces for you. Here&#39;s what&#39;s included by default:</p>
            <ul>
                <li><code class="language-none">config.json</code> &#126; Settings used by the building engine.</li>
                <li><code class="language-none">assets</code> &#126; Script, styles, images, etc.</li>
                <li><code class="language-none">templates</code> &#126; HTML templates.</li>
                <li><code class="language-none">misc</code> &#126; Loose files that should be public in the root directory.</li>
                <li><code class="language-none">.jshintrc</code> &#126; Configuration for the syntax checker</li>
            </ul>
            <h3>Configuration</h3>
            <p>The <code class="language-none">config.json</code> file enables you to customize the building engine on a per-project basis. Here is a (obviously invalid, but) commented version of that file:</p>
            <pre class="language-javascript"><code>{
    // Which browser to open when the flag --open is set
    // Depending on your OS, this could also be:
    // "google-chrome" or "chrome" or "google chrome"
    "browser": "Google Chrome",

    // Which editor to open when the flag --edit is set
    // Depending on your OS and version, this could also be:
    // "Sublime Text 2" or ... (no further tests done)
    "editor": "Sublime Text",

    // Minify your templates
    // eg. remove comments, collapse whitespace, ...
    "minifyHTML": false,

    // Automatically prefix your CSS
    "autoPrefix": true,

    // Check your javascript syntax
    "hint": true,

    // Folder where the assets be built to
    // Handy when the back-end serves them through a "public" folder
    "export_assets": "export",

    // Folder where the templates should be built to
    // Handy when the back-end uses templating and a different renderer
    // (Tested with a Laravell and NodeJS setup)
    "export_templates": "export",

    // Folder where the miscellaneous assets should be built to
    // Usually identical to "export_assets"
    "export_misc": "export",

    // Assemple templates during build
    // Turn this off when some other engine will do the assembly
    "assemble_templates": true,

    // Prefix injected script and link tags
    // eg. "{{public}}/"
    "template_asset_prefix": "",

    // Settings the static file server uses
    // to serve your project
    "host": "localhost",
    "port": "9000",
    "lr": "35729"
}</code></pre>
            <h3>Assets</h3>
            <p>The <code class="language-none">assets</code> folder contains your scripts, styles, images, and other files such as fonts, video, etc. By default, the following folders will be present:</p>
            <ul>
                <li><code class="language-none">images</code> &#126; Empty, aside from some placeholder icons.</li>
                <li><code class="language-none">js</code> &#126; A basic setup to get you started. More on that in the <a href="js-guide.html">JS guide</a>.</li>
                <li><code class="language-none">sass</code> &#126; A basic setup to get you started. More on that in the <a href="css-guide.html">CSS guide</a>.</li>
            </ul>
            <h3>Templates</h3>
            <p>The <code class="language-none">templates</code> directory contains your HTML templates. More on that in the <a href="html-guide.html">HTML chapter</a>.</p>
            <h3>Miscellaneous</h3>
            <p>The <code class="language-none">misc</code> directory contains files which will only be added when making a production ready build with the <code class="language-none">--production</code> flag:</p>
            <ul>
                <li><code class="language-none">browserconfig.xml</code> &#126; A configuration file for Windows tiles.</li>
                <li><code class="language-none">crossdomain.xml</code> &#126; A policy file to restrict access to assets.</li>
                <li><code class="language-none">htaccess.txt</code> &#126; As <code class="language-none">.htaccess</code> files are hidden files, this file will get converted for you automatically. It adds support for webfont filetypes, and enables gzipping and caching for your assets.</li>
                <li><code class="language-none">humans.txt</code> &#126; <em>We are people, not machines!</em> Read more on this <a href="http://humanstxt.org/">here</a>.</li>
                <li><code class="language-none">robots.txt</code> &#126; A behaviour sheet for robots and content spiders. Read more <a href="http://www.robotstxt.org/">here</a>.</li>
            </ul>


            <hr id="requirements">
            <h1>Requirements</h1>
            <p>Since Headstart is built with open-source software, you are required to install a few things before you can get started. But that&#39;s only small trade-off for all the benefits you get!</p>
            
            <h3>Command Line</h3>
            <p>Headstart can be used through a Command Line Interface (CLI). Depending on your Operating System, you will probably end up using one of following command line applications:</p>
            <ul>
                <li>OS X: <strong>Terminal.app</strong> &#126; Applications/Utilities</li>
                <li>Windows: <strong>Command Prompt</strong> &#126; Start &gt; All Programs &gt; Accessories &gt; Command Prompt</li>
                <li>Linux: <strong>Shell Prompt</strong> &#126; You&#39;re using Linux, so you know where it&#39;s at!</li>
            </ul>
            
            <h3>Ruby</h3>
            <p>Check if you have Ruby installed by running:</p>
            <pre class="language-none"><code>ruby -v</code></pre>
            <p>If any version of Ruby is printed out, you are good to go. If you see <code class="language-none">command not found</code> appear, you can <a href="https://www.ruby-lang.org/en/installation/" target="_blank" title="Read the Ruby installation guide">follow the instructions on this page</a> to install Ruby.</p>
            
            <h3>Sass</h3>
            <p>If you already had Ruby installed, you can check if Sass has been installed by running:</p>
            <pre class="language-none"><code>sass -v</code></pre>
            <p>If any version of Sass is printed out, you are good to go. If you see <code class="language-none">command not found</code> appear, you can install Sass by running:</p>
            <pre class="language-none"><code>gem install sass</code></pre>
            
            <h3>NodeJS and NPM</h3>
            <p>NodeJS is what ties together the modules that make up Headstart. NPM (Node Packaged Modules) is the package manager that comes with Node.</p>
            <p>You can <a href="http://nodejs.org/download/" title="Go to the NodeJS download page">download the appropriate installer through the website</a>.</p>


            <hr id="contribute">
            <h1>Contribute</h1>
            <p>You are more than welcome to suggest changes <a href="https://github.com/flovan/headstart/" title="Visit the Github page">with a Pull Request</a>. To report bugs or request features <a href="https://github.com/flovan/headstart/issues">visit the issues page</a>.</p>
        </div>
    </div>
</div>
<hr>
<div class="open-source">
    <div class="container--open-source">
        <p>Headstart is built with open-source software:</p>
        <p>
            <a class="open-source__sass" href="http://sass-lang.com" title="Visit the Sass homepage"><span class="is-hidden">Sass</span></a>
            <a class="open-source__node" href="http://nodejs.org" title="Visit the NodeJS homepage"><span class="is-hidden">NodeJS</span></a>
            <a class="open-source__gulp" href="http://gulpjs.com" title="Visit the Gulp homepage"><span class="is-hidden">Gulp</span></a>
        </p>
    </div>
</div>
{{> partials/footer_menu}}
{{> layout/footer}}