{{> layout/header}}
<div class="title-block">
    <div class="container--title-block">
        <h1>Getting Started</h1>
    </div>
</div>
<div class="getting-started">
    <div class="container--getting-started">
        <aside class="getting-started__sidebar">
            {{> partials/sidebar_menu}}
        </aside>
        <div class="getting-started__content">

            <h1 id="install">Installing</h1>
            <p class="report--warning"><strong>First time users:</strong> Headstart runs on NodeJS and uses Sass for compilation. Make sure your system meets <a href="getting-started.html#requirements">the requirements</a> before continuing.</p>
            <p>Open up your Command Line and install Headstart globally. If any errors are displayed, try running the command with <code class="language-none">sudo</code>.</p>
            <pre class="language-none"><code>npm install -g headstart</code></pre>
            <p>When NPM finishes downloading and installing Headstart and all its dependencies, run the following command to get a quick overview of all the available commands:</p>
            <pre class="language-none"><code>headstart
// or `hs`</code></pre>


            <hr id="boilerplate">
            <h1>Base files</h1>
            <p>Make a new directory somewhere and <code class="language-none">cd</code> into it:</p>
            <pre class="language-none"><code>cd some/where
mkdir myproject
cd myproject</code></pre>
            <p>Get the boilerplate files:</p>
            <pre class="language-none"><code>headstart init</code></pre>
            <p>Running <code class="language-none">init</code> will populate <code class="language-none">myproject</code> with the default boilerplate files. If you want to make changes to this setup, you can <a href="https://github.com/flovan/headstart-boilerplate">fork the boilerplate repo</a> and point to them with with the following flag and argument:</p>
            <pre class="language-none"><code>headstart init --base gituser/repo</code></pre>
            <p>Where <code class="language-none">gituser/repo</code> should be replaced with your username and repo.</p>


            <hr id="develop">
            <h1>Develop</h1>
            <p>Run the following command to make a build:</p>
            <pre class="language-none"><code>headstart build</code></pre>
            <p>Build continuously with auto-refresh enabled by running:</p>
            <pre class="language-none"><code>headstart build --serve</code></pre>
            <p>Build continuously, but open up a browser and an editor as well:</p>
            <pre class="language-none"><code>headstart build --serve --open --edit</code></pre>


            <hr id="production">
            <h1>Production</h1>
            <p>To make a production ready build, you can use the following flag:</p>
            <pre class="language-none"><code>headstart build --production</code></pre>
            <p>Doing this makes the build engine do the following things (taking into account the settings from <code class="language-none">config.json</code> (see next chapter):</p>
            <ul>
                <li>Optimize image and SVG files.</li>
                <li>Make a <code class="language-none">.ico</code> version of the <code class="language-none">favicon.png</code> from the icons folder, and put it in the root directory.</li>
                <li>Convert <code class="language-none">htaccess.txt</code> into a working <code class="language-none">.htaccess</code> file.</li>
                <li>Copy the other items from the <code class="language-none">misc</code> folder to the root directory.</li>
                <li>Concatenate and uglify javascript files, and take out <code class="language-javascipt">console.log()</code>s and other development code.</li>
                <li>Minify CSS and optimize with <a href="https://github.com/giakki/uncss" title="Visit the Github page of Uncss">Uncss</a>.</li>
                <li>Minify template HTML.</li>
            </ul>
            <p>Note that you can also use the <code class="language-none">--serve</code> flag here if you want or need to.</p>


            <hr id="services">
            <h1>Extra Services</h1>
            <h3>Web tunneling</h3>
            <p>Headstart makes it possible to expose your local web server to the internet. This way you can share whatever you&#39;re building with the world without the need for fiddling with a server or FTP.</p>
            <p>To use it, add the <code class="language-none">--tunnel</code> flag to your build instruction. You&#39;ll see a public acces url being written out in your command line window.</p>
            <p>But it doesn&#39;t stop here! If you navigate your browser to <strong>http://localhost:4040</strong>, you&#39;ll be able to inspect and replay the incoming HTTP traffic so you can find out where the bottlenecks are.</p>
            <p>Shout-out to <a href="https://inconshreveable.com">Alan Shreve</a>, the creator of <a href="http://ngrok.com">ngrok</a>, for making this possible.</p>
            <h3>Google Pagespeed Insights</h3>
            <p>To make sure your creation is performing at its best, it is advised to run your files through Google&#39;s <a href="https://developers.google.com/speed/pagespeed/insights/">Pagespeed Insights</a> to check if there are any optimizations to be made.</p>
            <p>Headstart comes bundled with a command line version of their online service, which you can use by appending the <code class="language-none">--psi</code> flag to your build instructions. By default, this will run your served files against the desktop strategy, but you can change this by adding <code class="language-none">--strategy=mobile</code> as an extra flag.</p>


            <hr id="structure">
            <h1>Structure</h1>
            <p>Headstart employs a clean folder structure, and manages the included bits and pieces for you. Here&#39;s what&#39;s included by default:</p>
            <ul>
                <li><code class="language-none">config.json</code> &#126; Settings used by the building engine.</li>
                <li><code class="language-none">assets</code> &#126; Script, styles, images, etc.</li>
                <li><code class="language-none">templates</code> &#126; HTML templates.</li>
                <li><code class="language-none">misc</code> &#126; Loose files that should be public in the root directory.</li>
                <li><code class="language-none">.jshintrc</code> &#126; Configuration for the syntax checker</li>
            </ul>
            <h3>Configuration</h3>
            <p>The <code class="language-none">config.json</code> file enables you to customize the building engine on a per-project basis. Here is a (obviously invalid, but) commented version of that file:</p>
            <pre class="language-javascript"><code>{
    // Which browser to open when the flag --open is set
    // Depending on your OS, this could also be:
    // "google-chrome" or "chrome" or "google chrome"
    "browser": "Google Chrome",

    // Which editor to open when the flag --edit is set
    // Depending on your OS and version, this could also be:
    // "Sublime Text 2" or ... (no further tests done)
    "editor": "Sublime Text",

    // Minify your templates
    // eg. remove comments, collapse whitespace, ...
    "minifyHTML": false,

    // Combine media queries where possible
    // Gzipping takes care of repeating strings, so this isn&#39;t
    // really necessairy to keep down filesize
    "combineMediaQueries": false,

    // Uncss compares your CSS with the template pages and strips
    // out unused bits. Use together with the next option.
    "useUncss": false,

    // If you use javascript to dynamically add
    // classes, you can prevent Uncss from stripping their styles
    // by listing selectors here
    "uncssIgnore": [],

    // Check your javascript syntax
    "hint": true,

    // Folder where the assets be built to
    // Handy when the back-end serves them through a "public" folder
    "export_assets": "export",

    // Folder where the templates should be built to
    // Handy when the back-end uses templating and a different renderer
    // (Tested with a Laravell and NodeJS setup)
    "export_templates": "export",

    // Folder where the miscellaneous assets should be built to
    // Usually identical to "export_assets"
    "export_misc": "export",

    // Assemple templates during build
    // Turn this off when some other engine will do the assembly
    "assemble_templates": true,

    // Prefix injected script and link tags
    // eg. "{{public}}/"
    "template_asset_prefix": "",

    // Turn on revisioning to get better
    // caching out of the browser
    "revisionCaching": false
}</code></pre>
            <h3>Assets</h3>
            <p>The <code class="language-none">assets</code> folder contains your scripts, styles, images, and other files such as fonts, video, etc. By default, the following folders will be present:</p>
            <ul>
                <li><code class="language-none">images</code> &#126; Empty, aside from some placeholder icons. Make sure to replace these!</li>
                <li><code class="language-none">js</code> &#126; A basic setup to get you started. More on that in the <a href="js-guide.html">JS guide</a>.</li>
                <li><code class="language-none">sass</code> &#126; A basic setup to get you started. More on that in the <a href="css-guide.html">CSS guide</a>.</li>
            </ul>
            <h3>Templates</h3>
            <p>The <code class="language-none">templates</code> directory contains your HTML templates. More on that in the <a href="html-guide.html">HTML chapter</a>.</p>
            <h3>Miscellaneous</h3>
            <p>The <code class="language-none">misc</code> directory contains files which will only be added when making a production ready build with the <code class="language-none">--production</code> flag:</p>
            <ul>
                <li><code class="language-none">browserconfig.xml</code> &#126; A configuration file for Windows tiles. More info <a href="http://msdn.microsoft.com/en-us/library/ie/dn455106.aspx">here</a>.</li>
                <li><code class="language-none">crossdomain.xml</code> &#126; A policy file to restrict access to assets. More info <a href="www.adobe.com/devnet/articles/crossdomain_policy_file_spec.html">here</a>.</li>
                <li><code class="language-none">htaccess.txt</code> &#126; Apache configuration file in (visible!) <code class="language-none">.txt</code> format that will get converted to a valid <code class="language-none">.htaccess</code> file during the build process. More info <a href="https://github.com/h5bp/server-configs-apache">here</a>.</li>
                <li><code class="language-none">humans.txt</code> &#126; <em>We are people, not machines!</em> More info <a href="http://humanstxt.org/">here</a>.</li>
                <li><code class="language-none">robots.txt</code> &#126; A behaviour sheet for robots and content spiders. More info <a href="http://www.robotstxt.org/">here</a>.</li>
            </ul>


            <hr id="requirements">
            <h1>Requirements</h1>
            <p>Since Headstart is built with open-source software, you are required to install a few things before you can get started. But that&#39;s only small trade-off for all the benefits you get!</p>
            
            <h3>Command Line</h3>
            <p>Headstart can be used through a Command Line Interface (CLI). Depending on your Operating System, you will probably end up using one of following command line applications:</p>
            <ul>
                <li>OS X: <strong>Terminal.app</strong> &#126; Applications/Utilities</li>
                <li>Windows: <strong>Command Prompt</strong> &#126; Start &gt; All Programs &gt; Accessories &gt; Command Prompt</li>
                <li>Linux: <strong>Shell Prompt</strong> &#126; You&#39;re using Linux, so you know where it&#39;s at!</li>
            </ul>
            
            <h3>Ruby</h3>
            <p>Check if you have Ruby installed by running:</p>
            <pre class="language-none"><code>ruby -v</code></pre>
            <p>If any version of Ruby is printed out, you are good to go. If you see <code class="language-none">command not found</code> appear, you can <a href="https://www.ruby-lang.org/en/installation/" target="_blank" title="Read the Ruby installation guide">follow the instructions on this page</a> to install Ruby.</p>
            
            <h3>Sass</h3>
            <p>When you have Ruby installed, you can check if Sass has been installed by running:</p>
            <pre class="language-none"><code>sass -v</code></pre>
            <p>If any version of Sass is printed out, you are good to go. If you see <code class="language-none">command not found</code> appear, you can install Sass by running:</p>
            <pre class="language-none"><code>gem install sass</code></pre>
            
            <h3>NodeJS and NPM</h3>
            <p>NodeJS is what ties together the modules that make up Headstart. NPM (Node Packaged Modules) is the package manager that comes with Node.</p>
            <p>You can <a href="http://nodejs.org/download/" title="Go to the NodeJS download page">download the appropriate installer through the website</a>.</p>

            <h3>Git</h3>
            <p>Some NodeJS module authors aren&#39;t as responsive as others, so some Headstart updates might retrieve modules directly from Github, rather than through NPM. For this reason, it is advised to install Git. You can check if you have it installed by running:</p>
            <pre class="language-none"><code>git --version</code></pre>
            <p>If any version of Git is printed out, you are good to go. If you see <code class="language-none">command not found</code> appear, you can <a href="http://git-scm.com" target="_blank" title="Read the Ruby installation guide">download the installer through the Git website</a>.</p>

            <h3>Command Line Tools</h3>
            <p>Not as much a requirement, but included here just in case. If you work with a Mac, it is possible that you&#39;ll be asked to install the Command Line tools through Xcode. Don&#39; worry though, there is a way to install them without the getting your hands on the full application:</p>
            <pre class="language-none"><code>xcode-select --install</code></pre>
            <p>This will open up a Software Update pop-up that will do the searching and installing for you. Just hit install and let it do its job.</p>

            <h3>That&#39;s all!</h3>
            <p>Once your machine meets all of the requirements, <a href="#install">jump back up and install Headstart</a>!</p>

            <hr id="contribute">
            <h1>Contribute</h1>
            <p>You are more than welcome to suggest changes <a href="https://github.com/flovan/headstart/" title="Visit the Github page">with a Pull Request</a>. To report bugs or request features <a href="https://github.com/flovan/headstart/issues">visit the issues page</a>.</p>
        </div>
    </div>
</div>
<hr>
{{> partials/open_source}}
{{> partials/footer_menu}}
{{> layout/footer}}
