{{> layout/header}}
<div class="title-block">
    <div class="container--title-block">
        <h1>HyperText Markup Language Guide</h1>
    </div>
</div>
<div class="html-guide">
    <div class="container--html-guide">
        <aside class="html-guide__sidebar">
            {{> partials/sidebar_menu}}
        </aside>
        <div class="html-guide__content language-markup">
            <p class="content__introduction">Headstart combines a solid HTML foundation, based on the <a href="http://html5boilerplate.com/" title="Visit the HTML5 Boilerplate website">HTML5 Boilerplate</a>, with light templating support through <a href="http://handlebarsjs.com" title="Visit the Handlebars website">Handlebars</a>.</p>
            <hr id="templating">
            <p class="report--warning"><strong>Note:</strong> Using ember in combination with Headstart <a href="https://github.com/flovan/headstart/issues/26">will break the templating functionality</a>.</p>
            <h1>Templating</h1>
            <p>Simple layouting and importable partials are yours to use, making the tedious task of managing menu structures, sidebars or footers across multiple pages easy as can be.</p>
            <h3>Layout</h3>
            <p>Using layouts is completely optional, but by default you are provided with <code class="language-none">header</code> and <code class="language-none">footer</code> layout parts to lighten up your main content files.</p>
            <h3>Partials</h3>
            <p>You can easily extract pieces of your body HTML, and put them into a partial, for example <code class="language-none">templates/partials/page_footer.html</code>:</p>
            <pre><code>&lt;footer&gt;
    &lt;a href=&quot;thebestpage.html&quot;&gt;This is a great link to click on&lt;/a&gt;
&lt;/footer&gt;</code></pre>
            <h3>Putting it all together</h3>
            <p>This is how the default page would look like when using the <code class="language-none">page_footer</code> partial that was mentioned above:</p>
            <pre><code>&#123;&#123;&gt; layout/header&#125;&#125;

&lt;!-- Your HTML here --&gt;
&lt;p&gt;Welcome to Headstart, off you go!&lt;/p&gt;

&#123;&#123;&gt; partials/page_footer&#125;&#125;
&#123;&#123;&gt; layout/footer&#125;&#125;</code></pre>
            <h3>Targeted individual pages</h3>
            <p>It is possible to tell the building engine to make small changes to the HTML for each page by using this equal statement:</p>
            <pre><code>&#123;&#123;#equal templateName 'your-page.html'&#125;&#125;&#123;&#123;/equal&#125;&#125;</code></pre>
            <p>Noticed how the top menu items on this website get a bold style applied when their respective page is active?</p>
            <pre><code>&lt;nav class=&quot;nav&quot;&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a &#123;&#123;#equal templateName 'getting-started.html'&#125;&#125;class=&quot;is-active&quot;&#123;&#123;/equal&#125;&#125; href=&quot;getting-started.html&quot;&gt;Getting started&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a &#123;&#123;#equal templateName 'html-guide.html'&#125;&#125;class=&quot;is-active&quot;&#123;&#123;/equal&#125;&#125; href=&quot;html-guide.html&quot;&gt;HTML&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a &#123;&#123;#equal templateName 'css-guide.html'&#125;&#125;class=&quot;is-active&quot;&#123;&#123;/equal&#125;&#125; href=&quot;css-guide.html&quot;&gt;CSS&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a &#123;&#123;#equal templateName 'js-guide.html'&#125;&#125;class=&quot;is-active&quot;&#123;&#123;/equal&#125;&#125; href=&quot;js-guide.html&quot;&gt;JS&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;</code></pre>
            <hr id="assets">
            <h1>Asset management</h1>
            <p>Stylesheets and scripts get optimized and injected on the fly by the building engine. Working with development libraries instead of minified and production-ready code not only enables you to read through the code, it also makes it easier to debug possible errors.</p>
            <h3>View-specific files</h3>
            <p>Assets can be linked to a specific page by prefixing their filenames with <code class="language-none">view-</code>, followed by the page name. Eg. <code class="language-none">view-index.scss</code> or <code class="language-none">view-profile.js</code>.</p>
            <h3>Excluding files</h3>
            <p>Exclude files by prefixing with an <strong>underscore</strong>, eg. <code class="language-none">_jquery-1.11.0.js</code>.</p>
            <h3>Script dependencies</h3>
            <p>By default, scripts get injected in the following order:</p>
            <ol>
                <li>The library, i.e. any <code class="language-none">ender</code> or <code class="language-none">jquery</code> prefixed file from the <code class="language-none">assets/js/libs</code> folder.</li>
                <li>When not building <code class="language-none">--production</code>, all files from the <code class="language-none">assets/js/libs/dev</code> folder.</li>
                <li>All other libs from the <code class="language-none">assets/js/libs</code> folder.</li>
                <li>All core files from the <code class="language-none">assets/js/core</code> folder.</li>
                <li>The mains script, <code class="language-none">assets/js/main.js</code>.</li>
                <li>The view-specific script, if provided.</li>
            </ol>
            <p>It is possible to define specific dependencies within this order <strong>by prepending a simple comment inside of your files</strong>. Say you are working with <code class="language-none">libA.js</code> which needs <code class="language-none">libZ.js</code> to work correcly. To make sure the latter is inject first, simply prepend the following to <code class="language-none">libA.js</code>:</p>
            <pre class="language-javascript"><code>// requires: libZ.js

/* 
    Other code from libZ here ...
*/</code></pre>
            

            <hr id="integration">
            <h1>Integration</h1>
            <p>Headstart is a front-end development tool, and was not built with a back-end integration in mind. There are some provisions to make it possible, though some changes have to be made to make it work.</p>
            <h3>Example</h3>
            <p>The changes below were made for integrating with a Laravel project. The gist remains the same for any kind of setup though. First, all the project files were moved to a <code class="language-none">private</code> folder within the back-end framework, and the <code class="language-none">.html</code> extensions were changed to <code class="language-none">.blade.php</code>.</p>
            <p>Then <code class="language-none">config.json</code> was edited (read up on the options in the <a href="http://localhost:9000/getting-started.html#structure">Structure section</a>):</p>
            <pre class="language-javascript"><code>{
    ...
    "export_assets": "../public",
    "export_templates": "../app/views",
    "export_misc": "../public",
    "assemble_templates": false,
    "template_asset_prefix": "&#123;&#123;public&#125;&#125;",
    ...
}</code></pre>
            <p>Since references to scripts and stylesheets get injected, the location markers have to be put inside of the main content files. So this part from <code class="language-none">header.blade.php</code>:</p>
            <pre class="language-markup"><code>&lt;!-- inject:css --&gt;&lt;!-- endinject --&gt;

&lt;/head&gt;  
&lt;body&gt;</code></pre>
            <p>And this part from<code class="language-none">footer.blade.php</code>:</p>
            <pre class="language-markup"><code>&lt;!-- inject:js --&gt;&lt;!-- endinject --&gt;</code></pre>
            <p>Need to be moved to all your indiviual pages. It isn&#39;t pretty, but it works. Example <code class="language-none">index.blade.php</code>:</p>
            <pre class="language-markup"><code>@include(&quot;common/header&quot;)
&lt;!-- inject:js --&gt;&lt;!-- endinject --&gt;
&lt;/head&gt;  
&lt;body&gt;

Your page content ...

&lt;!-- inject:js --&gt;&lt;!-- endinject --&gt;
@include(&quot;common/footer&quot;)</code></pre>
        </div>
    </div>
</div>
<hr>
{{> partials/open_source}}
{{> partials/footer_menu}}
{{> layout/footer}}