{{> layout/header}}
<div class="lead">
    <div class="container--lead">
        <h1>An easy-to-use automated front-end setup.</h1>
        <p>
            <a href="getting-started.html" class="lead__download-button">Start using Headstart</a>
            <span>or</span>
            <a href="https://github.com/flovan/headstart/" class="lead__github-button"><span>View this project on Github</span></a>
        </p>
    </div>
</div>
<div class="usp">
    <div class="container--usp">
        <div class="usp__up-and-running">
            <h2>Up and running in seconds</h2>
            <p>Headstart comes with a custom Command Line Interface (CLI) to get you going. Scaffold your projects in an instance, and see changes in the browser instantly thanks to the <strong>live-reload</strong> server. <a href="#" title="Go read the getting started guide">Get started now!</a></p>
        </div>
        <div class="usp__fragments">
            <h2>Think fragments</h2>
            <p>Forget about fitting together your assets and learn how to love the <strong>folder structure</strong>. Headstart takes care of dependencies and makes sure everything ends up where it needs to be.</p>
        </div>
        <div class="usp__optimizations">
            <h2>No brainer optimizations</h2>
            <p>Give your visitors a fast experience without even having to think about it. It all happens while you work!
<strong>Hinting</strong>, <strong>Uglyfication</strong> and <strong>Concatenation</strong>. Don’t forget about image and SVG <strong>optimization</strong>. Revelation? Yes!</p>
        </div>
    </div>
</div>
<hr>
<div class="features">
    <div class="container--features">
        <div>
            <h3>Responsibly responsive </h3>
            <p>The <strong>no-class grid system</strong> takes care of building responsive layouts. It also puts media queries and grid declarations close to your selectors, making maintainance a breeze.</p>
        </div>
        <div>
            <h3>Be the better coder</h3>
            <p>Headstart can be configured to <strong>hint and validate</strong> your code. Following conducts make you write cleaner and better, which results in less bugs and happy colleagues.</p>
        </div>
        <div>
            <h3>(Single) Page specific</h3>
            <p>Scripts and styles can be assigned to a specific page if needed. Aside from that, Headstart supports <strong>rudimentary templating</strong> to keep your HTML lean and clean.</p>
        </div>
        <div>
            <h3>Forget about refreshing</h3>
            <p>No more manually refreshing the browser. Saving will <strong>auto-refresh the browser</strong> for you, making developing faster and easier on the fingers.</p>
        </div>
    </div>
</div>
<hr>
<div class="open-source">
    <div class="container--open-source">
        <p>Headstart is built with open-source software:</p>
        <p>
            <a class="open-source__sass" href="http://sass-lang.com" title="Visit the Sass homepage"><span class="is-hidden">Sass</span></a>
            <a class="open-source__node" href="http://nodejs.org" title="Visit the NodeJS homepage"><span class="is-hidden">NodeJS</span></a>
            <a class="open-source__gulp" href="http://gulpjs.com" title="Visit the Gulp homepage"><span class="is-hidden">Gulp</span></a>
        </p>
    </div>
</div>
{{> partials/footer_menu}}
{{> layout/footer}}