{{> layout/header}}

<nav class="content-menu"></nav>
<section class="content">
	<div class="content__wrapper wrapper wrapper--intro">
		<h1>Headstart</h1>
		<p>If you&#39;re a front-end developer, you probably know how it feels like to perform tedious tasks such as optimizing images, compiling sass, concatenating scripts, etc., through numerous desktop or web applications, over and over again. Enough! Stop right now.</p>
		<p>Enter <strong>Headstart</strong>, the easy-to-use automated front-end workflow.</p>
	</div>
	<div class="content__wrapper wrapper">
		<p>Headstart is an all-in-one workflow that frees you&mdash;the front-end developer&mdash;of the little worries that come along with modern web development. If you ever wanted to use tools like <a href="http://gruntjs.com/">Grunt</a> or <a href="http://gulpjs.com/">Gulp</a>, but found the configuration too troublesome, you will probably like this better. </p>
		<p>
			<a href="getting-started.html" class="getting-started-link">Get started</a>
			<span> or </span>
			<a href="https://github.com/flovan/headstart/" class="check-github-link">View this project on Github</a>
		</p>
		<hr>
		<h2>Features</h2>
		<ul>
			<li>Command Line Interface (CLI)</li>
			<li>Scaffold new projects</li>
			<li>Static file serving</li>
			<li>Simple templating</li>
			<li>Image optimization</li>
			<li>Sass compilation and minification</li>
			<li>Javascript concatenation and uglification</li>
			<li>CSS and Javascript revisioning</li>
			<li>Remove unused CSS through Uncss</li>
			<li>Validate your HTML through W3C</li>
			<li>Hint your Javascript</li>
			<li>Combine Media Queries</li>
			<li>Minify HTML</li>
			<li>Syncs your test setups through Browsersync</li>
			<li>Tunnel static files to the web</li>
			<li>Run projects through Google Pagespeed Insights</li>
		</ul>
	</div>
</section>

{{> layout/footer}}
