<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    	
    	<!-- SEO -->
    	
        <title>Headstart</title>
        <meta name="description" content="An easy-to-use automated front-end setup.">
        <meta name="keywords" content="front-end, frontend, framework, boilerplate, gulp, sass, scss, livereload, development, css, html, javascript, js, jquery, automate, optimize">
        <meta name="author" content="Florian Vanthuyne">

        <!-- Spiders must use meta description -->

        <meta name="robots" content="noodp, noydir">

        <!-- No Google Translate toolbar -->

        <meta name="google" content="notranslate">
        
        <!-- Viewport and mobile -->
        
    	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0, minimal-ui">
        <meta name="HandheldFriendly" content="true">
        <meta name="MobileOptimized" content="320">
        <meta http-equiv="cleartype" content="on">

        <!-- Icons -->
        
        <link rel="icon" href="assets/images/icons/favicon.png">

        <!-- Stylesheets -->
        
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" type="text/css">
        <!-- <link rel="stylesheet" href="http://basehold.it/24"> -->
        <!-- inject:css --><!-- endinject -->

        <!--[if lt IE 9]>-->
        <!--<script src="assets/js/ie.head.min.js"></script>
        <link rel="stylesheet" href="assets/css/ie.min.css">-->
        <!--<![endif]-->
	</head>  
	<body>
        <aside class="sidebar">
            <div class="sidebar__wrapper wrapper">
                <div class="sidebar__logo-wrapper">
                    <a class="logo sidebar__logo" href="index.html"><span class="is-hidden">Headstart</span></a>
                    <a href="changelog.html" class="sidebar__version">v1.2.2</a>
                </div>
                <menu class="menu sidebar__menu">
                    <ul>
                        <li><a class="is-active" href="index.html">Welcome</a></li>
                        <li>
                            <a href="getting-started.html">Getting started</a>
                            <ul>
                                <li><a href="getting-started.html#installing">Installing</a></li>
                                <li><a href="getting-started.html#new-project">New Project</a></li>
                                <li><a href="getting-started.html#develop">Develop</a></li>
                                <li><a href="getting-started.html#services">Extra Services</a></li>
                                <li><a href="getting-started.html#customize">Customize</a></li>
                                <li><a href="getting-started.html#requirements">Requirements</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="boilerplate.html">Boilerplate</a>
                            <ul>
                                <li><a href="boilerplate.html#templating">Templating</a></li>
                                <li><a href="boilerplate.html#assets">Asset Management</a></li>
                                <li><a href="boilerplate.html#integration">Back-end integration</a></li>
                                <li><a href="boilerplate.html#sass-setup">Sass setup</a></li>
                                <li><a href="boilerplate.html#js-setup">Javascript setup</a></li>
                                <li><a href="boilerplate.html#changelog">Changelog</a></li>
                            </ul>
                        </li>
                        <li><a href="upgrading-guide.html">Upgrading</a></li>
                        <li><a href="changelog">Changelog</a></li>
                        <li><a href="credits.html">Credits</a></li>
                        <li><a href="contributing.html">Contributing</a></li>
                        <li><a href="issues.html">Issues</a></li>
                        <li><a href="support.html">Support</a></li>
                    </ul>
                </menu>
            </div>
        </aside>